<div class="">
  <a href="/reviews/{{this.media_type}}/{{this.id}}">
    <div class="w-full max-w-6xl rounded bg-white shadow-2xl mx-auto text-gray-800 relative md:text-left">
      <div class="grid  grid-rows-8 item-card">
        <div class="px-2 py-2 row-span-full">
            <div class="h-full rounded" style="background: url({{this.posterUrl}}); background-size: cover; background-position: center;">
              &nbsp;
            </div>
        </div>
      </div>
    </div>
  </a>
</div>